---
---

@import "{{ site.theme }}";

.header {
    background: transparent;
    border-bottom: 0px;
}

header ul:before {
    background: rgb(255 255 255 / 6%);
    }

header ul li {
    width: 150px;
    border-right: 1px solid #ffffff36;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000d9;
}

a {
    color: #000000b8;
}

body {
    color: #fff;
    background: linear-gradient(173deg, rgba(110,99,163,1) 0%, rgba(178,141,192,1) 80%);
    background-attachment: fixed;
}

::selection {
    color: white;
    background: #f94e98;
}
