---
---

@import "{{ site.theme }}";

header {
    background: none;
    border-bottom: 0px;
}

header p {
    color: #ffffffcf;
    width: 380px;
}

header ul:before {
    background: #ffffff17;
    box-shadow: none;
}

header ul li {
    width: 150px;
    border-right: 1px solid #ffffff24;
}

header ul li+li {
    border-left: none;
}

header ul {
    background: #ffffff1c;
    border: 0px;
    box-shadow: none;;
}

header ul a {
    text-shadow: none;
}

header ul a strong {
    color: #000000de;
}

header h1 {
    color: #000000d9;
    text-shadow: none;
}

section {
    background: transparent;
    border-top: 1px solid #ffffff1c;
}

.wrapper {
    background: #ffffff12;
    box-shadow: none;
    border: 1px solid #ffffff1c;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000d9;
}

a {
    color: #000000b8;
}

body {
    color: #ffffffcf;
    background: linear-gradient(173deg, rgba(110,99,163,1) 0%, rgba(178,141,192,1) 80%);
    background-attachment: fixed;
}

li:nth-child(2) {
    display: none;
}

::selection {
    color: white;
    background: #f94e98;
}
