---
---

@import "{{ site.theme }}";

.header {
    background: none!important;
    border-bottom: 0px;
}

header p {
    color: white;
    width: 380px;
}

header ul:before {
    background: #ffffff36;
    box-shadow: none;
}

header ul li {
    width: 150px;
    border-right: 1px solid #ffffff36;
}

header ul {
    background: #ffffff2e;
    box-shadow: none;;
}

header h1 {
    color: black;
}

section {
    background: transparent;
    border-top: 1px solid #ffffff1c;
}

.wrapper {
    background: #ffffff12;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000d9;
}

a {
    color: #000000b8;
}

body {
    color: #fff;
    background: linear-gradient(173deg, rgba(110,99,163,1) 0%, rgba(178,141,192,1) 80%);
    background-attachment: fixed;
}

::selection {
    color: white;
    background: #f94e98;
}
